<div jumbotron style="margin-bottom: 16px" [isHide]="true">
  <div class="title-semi-4" jumbotron-title>Information</div>
  <div class="title-regular-3" jumbotron-description>
    <b>Subject area:</b> horse racing <br>
    <b>Developer:</b> Andrei Petrov <br>
  </div>
</div>

<div class="home-preview title-regular-1">
  <div class="home-preview__top_container">
    <h1>Бонус <span style="color: rgb(255,216,0)">20 BYN</span> всем новым клиентам</h1>
  </div>
  <div class="home-preview__bottom_container">
    <h1>С большими  <br> выигрышами <br> приходит большая ответственность</h1>
  </div>
</div>
