//COLORS VARIABLES
$dark-color: #292D3D;

$primary-dark-color: #4c93fa;
$primary-color: #7eb1fc;

$error-color: #f86060;
$error-second-color: #f7788f;

$deny-color: #20c08c;

$secondary-extra-dark-color: #292d3d;
$secondary-dark-color: #B7B9C8;
$secondary-color: #898f9e;
$secondary-light-color: #DADADA;
$secondary-extra-light-color: #dedee8;

$background-dark-color: #f2f3f7;
$background-color: #ffffff;
$background-active-color: #7eb1fc33;
$background-negative-color: #f85e5e33;
$background-positive-color: #20c08c33;

//FONTS VARIABLES
$base-font-family: 'Montserrat', sans-serif;
